@import url("http://fonts.googleapis.com/css?family=Indie+Flower:400");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

/* Reset */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

body{
	background-color: #0277BD;
  overflow:hidden;
}
@media (max-width: 320px) {
    body {
        line-height: 1;
    }
}

/* Progress indicator, right corner. */

.progress {
  color: white;
  margin-right: 30px;
  margin-top: 12px;
  text-align: right;
  font-size: 17pt;
  opacity: 0.8;
}

/* Layers to put things on */

.tasklayer{
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
}


.layer{
   width: 100%;
    height: 50%;
    margin-bottom: 75%;
    background-color: #0277BD;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.lowerlayer{
   width: 100%;
   display: block;
    position: relative;
    text-align: center;
    background-color: #0277BD;
    -moz-box-shadow:    inset  0  8px 8px -8px rgba(0,0,0,0.19);
    -webkit-box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.19);
     box-shadow:        inset  0  8px 8px -8px rgba(0,0,0,0.19);
}

/* Text */

.info {
  text-align: left; 
  margin-left: 30px; 
  margin-right: 55px;  
  color: white;  
}

h1 {
    font-size: 300%;
    font-family: Indie Flower, sans-serif;
    letter-spacing: 0.025em;
    text-rendering: optimizelegibility;
    font-weight: 700;
    margin-top: 0px;
}
@media (min-width: 400px) {
    h1 {
        line-height: 1.75em;
    }
}

.info h2 {
    font-size: 300%;
    font-family: Indie Flower, sans-serif;
    letter-spacing: 0.025em;
    text-rendering: optimizelegibility;
    font-weight: 700;
}

.info p {

  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  background-attachment: scroll, scroll, scroll, fixed;
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
  
}

/* Buttons */

.textbutton{
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  cursor: pointer;
}
.textbutton u {

}
@media (max-width: 320px) {
    .textbutton u {
        top: 65px;
    }
}

.skipbutton{
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 0.025em;
}


.first--next--button{
  margin: 15px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #FFCA28;
  color: white;
  border-radius: 17px / 17px;
  border-color: #FFCA28;
  border-width: 0;
  left: 0px;
  width: 165px;
  height: 44px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  font-weight: 330;
  letter-spacing: 0.025em;
  background-attachment: scroll, scroll, scroll, fixed;
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
}
@media (max-width: 320px) {
    .first--next--button {
        margin: 0 0;
    }
}

.second--next--button{
  margin: 15px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #FFCA28;
  color: white;
  border-radius: 17px / 17px;
  border-color: #FFCA28;
  border-width: 0;
  width: 150px;
  height: 44px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  font-weight: 330;
  letter-spacing: 0.025em;
  background-attachment: scroll, scroll, scroll, fixed;
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
}
@media (max-width: 320px) {
    .second--next--button {
        margin: 0 0;
    }
}
.second--back--button{
  margin: 15px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #BDBDBD;
  color: white;
  border-radius: 17px / 17px;
  border-color: #BDBDBD;
  border-width: 0;
  left: -160px;
  width: 44px;
  height: 44px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 17pt;
  font-weight: 450;
  opacity: 0.95;
  letter-spacing: 0.025em;
  background-attachment: scroll, scroll, scroll, fixed;
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
}
@media (max-width: 320px) {
    .second--back--button {
        margin: 0 0;
    }
}

.second--send--button{
  margin: 15px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 17px / 17px;
  border-color: #4CAF50;
  border-width: 0;
  left: 110px;
  width: 150px;
  height: 44px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  font-weight: 330;
  letter-spacing: 0.025em;
  background-attachment: scroll, scroll, scroll, fixed;
  background-position: bottom left, bottom right, top left, top center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;
}
@media (max-width: 320px) {
    .second--send--button {
        margin: 0 0;
    }
}


.location--button{
    bottom: 40px;
    display: block;
    margin: auto;
    position: fixed;
}

/* Inputs */

.question--comment_input {
    display: block;
    margin: auto;
    height: 72px;
    text-align: justify;
}

input[type=radio]{
    float: left;
    margin-left: 30px;
}

/* Gmap */

.googlemap {
  height: 45%;
  position: absolute;
  width: 100%;
}
.googlemap--canvas {
  top: 5px;
  bottom: 5px;
  display: block;
  width: 100%;
  height: 100%;
}

/* Image styling */

.img-circle {
    border-radius: 50%;
}

.second--next--button.send--button{
  left: 0px;
}

.comment--label {
    position: relative;
    top: 9px;
}

.question--radio--label{
  cursor: pointer;
}

.thanks--map{
    display: block;
    width: 100%;
    height: 287px;
margin-left: -30px;
}

.backbutton{
margin: 15px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
}


#map-canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}

.gm-style-iw {
    width: 200px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
}
#iw-container {
    color: black;
    margin-bottom: 10px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px; 
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 195px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}